body {
    font-family: 'Roboto';
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    
}

.body {
    display: flex;
    flex-direction: column; 
}

.header {
    background-color: #1F2937;
    padding: 10px 185px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 16px;
}

.herotext {
    background-color: #1F2937;
    padding: 90px 0;
    display: flex;
    justify-content: center;
    gap:16px;

}

.container {
    width: 450px;
    min-height: 215px;
}

.maintext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondarytext {
    font-size: 18px;
    color: #E5E7EB;
}

.signup {
    background-color: #3882F6;
    border: 1px solid #3882F6;
    color: #F9FAF8;
    font-weight: 900;
    margin-top: 10px;
}

.logotext {
    font-size: 18px;
    color: #E5E7EB;
    background-color: gray;
    width: 450px;
    max-height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
}

.title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin: 24px 0;
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.info {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

img {
    border: 3px solid #3882F6;
    border-radius: 8px;
    width: 140px;
    height: 140px; 
}

.text {
    text-align: center;
    width: 145px;
}

.quote {
    background-color: #E5E7EB;
    box-sizing: border-box;
    padding: 90px 250px 48px 250px;
    margin: 48px 0;
    display: flex;
    flex-direction: column;
    
}

.quotetext {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
}

.quotetext2 {
    font-weight: 900;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
}

.action {
    background-color: #3882F6;
    width: 917px;
    border-radius: 5px;
    padding: 16px;
    margin-left: 185px;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;

}

.call2text {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.signuptext {
    color: #E5E7EB;
    font-size: 18px;

}

.signup2 {
    background-color: #3882F6;
    border: 1px solid #F9FAF8;
    color: #F9FAF8;
    font-weight: 900;
}

button {
    cursor: pointer;
    padding: 6px 25px;
    border-radius: 8px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}