body {
    font-family: 'Roboto';
    height: 100vh;
    margin: 0;
    display: flex;
  
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.header {
    background-color: #1F2937;
    padding: 8px 82px;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 16px;
}

.herotext {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap:16px;
}

.container {
    width: 350px;
    
}

.maintext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondarytext {
    font-size: 18px;
    color: #E5E7EB;
}

.logotext {
    font-size: 18px;
    color: #E5E7EB;
    background-color: gray;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    display: flex;
    flex-direction: column;
}

.title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.info {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    align-items: center;
}

img {
    width: 100px;
    height: 100px; 
}

.text {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quotetext {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
}

.quotetext2 {
    display: flex;
    justify-content: flex-end;
}

.action {

    background-color: #3882F6;
    display: flex;
    justify-content: center;
    gap:16px;

}

.call2text {
    color: #F9FAF8;
    font-size: 24px;
}

.signuptext {
    color: #E5E7EB;
    font-size: 18px;

}

.signup2 {

}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 8px 82px;
    margin-top: 0;
    display: flex;
    justify-content: center;
}